@import url(variables.css);
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}  
body{
    background-image: url(../storage/img/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: var(--color-8);
    /* background-position: 50% 50%; */
    /* background: var(--color-8); */
}
/************************************ Header ****************************************/
header{
    /* background: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.header__logo{
    /* background: blue; */
}
.header__logo img{
    
}
.header__nav{
    /* background: green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 54px;
}
.header__nav li{
    /* background: yellow; */
    list-style: none;
}
.header__nav li a{
    font-family: "Poppins-SemiBold";
    color: var(--color-1);
    text-decoration: none;
    font-size: 28px; 
    display: flex;   
}
.header__nav li a img{ 
}
.header__menu{
    /* background: violet;     */
}
.header__menu img{
    
}
/************************************* Main *****************************************/
main{
    /* background: green; */
    padding-top: 45px;
    padding-left: 75px;
    padding-right: 75px;
}
.section__container{
    /* background: blue; */
    display: flex;
    justify-content: space-between;
    margin-top: 111px;
}
.article__jumping{
    width: 679px;
    /* background: violet; */
    display: flex;
    flex-direction: column;
}
.article__jumping h1{
    color: var(--color-1);
    font-family: "Poppins-SemiBold";
    font-size: 120px;
    line-height: 91.4%;
}
.article__jumping p{
    margin-top: 26px;
    font-family: "Poppins-Medium";
    font-size: 24px;
    color: var(--color-6);  
    line-height: 123%;
}
.div__buttons{
    margin-top: 26px;
    /* background: rebeccapurple; */
    display: flex;   
    gap: 38px;
}
.div__buttons a{
    width: 264px;
    height: 86px;
    border-radius: 14px;
    border: 1px solid var(--color-1);
    background: transparent;
    font-family: "Poppins-Thin";
    font-size: 32px;
    font-weight: 900;
    color: var(--color-1);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div__buttons a:hover{
    border: none;
    backdrop-filter: blur(24px);
}
#reviews {
    /* background: blue; */
    height: 221px;
    padding-top: 18px;
    padding-left: 18px;
    padding-right: 27px;
    display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(var(--cards), var(--cardHeight));
	gap: var(--cardMargin);
	/* padding-bottom: calc(var(--cards) * var(--cardTopPadding)); */
	/* margin-bottom: var(--cardMargin); */
}
/* Oculta la barra de desplazamiento predeterminada */
#reviews::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

/* Personaliza el riel de la barra de desplazamiento */
#reviews::-webkit-scrollbar-track {
    background: transparent; /* Color del fondo */
}

/* Personaliza el 'thumb' de la barra de desplazamiento */
#reviews::-webkit-scrollbar-thumb {
    background: var(--color-1); /* Color del thumb */
    border-radius: 10px; /* Bordes redondeados */
}

/* Estiliza el thumb cuando se pasa el cursor sobre él */
#reviews::-webkit-scrollbar-thumb:hover {
    background: var(--color-6);
    cursor: grab;
}
#reviews::-webkit-scrollbar-thumb:active {
    cursor: grabbing;
}
/* Estiliza los botones de la barra de desplazamiento (si los hay) */
#reviews::-webkit-scrollbar-button {
    display: none;
}
.div__reviews-container:nth-child(1){
    --index: 1;
}
.div__reviews-container:nth-child(2){
    --index: 2;

    /* top: 20px; */
}
.div__reviews-container:nth-child(3){
    --index: 3;
    /* top: 40px; */
}
.div__reviews-container:nth-child(4){
    --index: 4;
    /* top: 60px; */
}
.article__reviews {
    /* background: red; */
    overflow-y: auto;
}
.div__reviews-container {
    width: 345px;
    height: 202px;
    background: var(--color-1);
    border-radius: 18px;
    /* padding: 20px; */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--color-5);
    position: sticky;
    top: 0px;
    padding-top: calc(var(--index) * var(--cardToppadding));
    z-index: var(--index);
}
.div__reviews-cards {
    /* background: green; */
    /* padding: 20px; */
}
.div__reviews-cards::after {
    content: "x";
    cursor: pointer;
    font-family: "Poppins-Medium";
    color: var(--color-1);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    background: var(--color-8);
    border: 1px solid var(--color-6);
    border-radius: 100%;
    left: -18px;
    top: -18px;
}
.div__reviews-profile {
    /* background: violet; */
    gap: 16px;    
    /* padding: 20px; */
    display: flex;
}
.div__reviews-profile img{
    object-fit: contain;
    /* background: orange; */
    /* padding: 20px; */
}
.div__reviews-cards p{
    font-family: "Poppins-Medium";
    text-align: justify;
    margin-top: 12px;
    font-size: 18px;
    color: var(--color-7);
    width: 277px;
}
.div__reviews-rating {
    /* background: yellow; */
    /* padding: 20px; */
}
.div__reviews-rating h3{
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div__reviews-stars {
    /* background: olive; */
    margin-top: 5px;
    /* padding: 20px; */
}
.div__reviews-stars img{
    /* background: turquoise; */
    padding: 0%;
}
.div__chose-type {
    /* background: red; */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-top: 75px;
}
.div__chose-type h3{
    color: var(--color-1);
    font-family: "Poppins-Medium";
    font-size: 20px;
}
.div__choose-type-buttons {
    /* background: green; */
    display: flex;
    justify-content: space-between;
}
.div__choose-type-buttons a{
    width: 64px;
    height: 64px;
    border-radius: 14px;
    background: var(--color-4);
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    backdrop-filter: blur(3px);/* Efecto frosted glass */
}
.div__choose-type-buttons img{
}
.section__container-products {
    /* background: red;
    padding: 20px; */

    display: flex;
    flex-direction: column;
    align-items: flex-end;

    padding-top: 63px;
    padding-right: 64px;
    padding-left: 78px;
}
.form__container-product {
    /* background: orange; */
    padding: 20px;
    /* Dispocicios inicial para travbajar flex  */
    display: flex;
    align-items: center;
    gap: 58px;
    overflow: hidden;/*   */
    /* Tamaño y disposicion de la caja padre */
    width: 690px;
    height: 324px;
    padding-left: 38px;
    /* estilo de la caja padre */
    outline: 1px solid var(--color-1); /* linea de borde */
    border-radius: 24px; /* borde redondeado  */
    backdrop-filter: blur(8px); /* Efecto frosted glass */
}
.div__trendy{
    background: var(--color-1);
    width: 213px;
    height: 54px;
    border-radius: 52px;

    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}
.div__trendy h2{
    color: var(--color-2);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div__trendy img{
    position: absolute;
    top: -12px;
    right: -2px;    
}
.article__products{
    /* background: green; */
    padding: 20px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;/* para que se ajuste las hijas en el padre de forma utomatica segun siu limite  */
    /* Ajuste de las hijas en el padre */
    column-gap: 52px;
    row-gap: 59px;
    padding-top: 45px;

}
.form__container-product{
    /* background: orange; */
    padding: 20px;

    display: flex;
    align-items: center;
    gap: 58px;

    overflow: hidden;

    /* estilo de la caja padre */
    outline: 1px solid var(--color-1); /* linea de borde */
    border-radius: 24px; /* borde redondeado  */
    backdrop-filter: blur(8px); /* Efecto frosted glass */

}
.form__container-product:hover{/* efectos en botones del formulario segun puntero */
    outline: none;
    cursor: pointer;
}
/* Aplicacion de efectos al poner puntero y dar click en caja */
.form__container-product:active,
.form__container-product:active h3,
.form__container-product:active span,
.form__container-product:active input[type="submit"],
.form__container-product:active label{
    background: var(--color-1);
    color: var(--color-2);
}
.form__container-product:active input[type="submit"]{
    outline: 1px solid var(--color-2);
}
.form__container-product img{
    /* background: violet; */
    padding: 20px;
    /* Fijar tamaño de imagen */
    width: 217px;
    height: 217px;
    object-fit: none;/* para que se ajuste el tamaño de imagen a su caja contenedora */
}
.div__product {
    /* background: turquoise; */

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 18px;

    width: 100%;
    height: 100%;
}
.div__product h3{
    color: var(--color-1);
    font-family: "Poppins-Medium";
    font-size: 28px;
}
.div__product span{
    color: var(--color-1);
    font-family: "Poppins-Medium";
    font-size: 20px;
}
.div__type-order {
    /* background: brown; */

    display: flex;
    width: 390px;
    gap: 31px;
}
.div__type-order input[type="submit"]{

    color: var(--color-1);
    font-family: "Poppins-Regular";
    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 139px;
    height: 40px;

    cursor: pointer;
    border-radius: 7px;
    border: none;
    outline: 1px solid var(--color-1);
    background: transparent;
}
.div__product-amount {
    /* background: olive; */

    display: flex;
    justify-content: space-between;

    width: 309px;
}
.div__product-amount label{
    color: var(--color-1);
    font-family: "Poppins-Regular";
    font-size: 28px;
}
.div__product-amount input[type="number"]{
}
/************************************* Fotter *****************************************/
footer{
    /* background: red; */

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 51px;
}
.footer__social{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-right: 75px;
    gap: 48px;
}
footer p{
    color: var(--color-1);
    font-family: "Poppins-Regular";
    font-size: 18px;

    padding-left: 75px;
}
.footer__social img{
    width: 39px;
    height: 39px;
}

